body {
    overflow: hidden;
}

.main {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#heading {
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
    width: 390px;
    left: 10%;
    top: 15%;
}

.bg2 {
    right: 10%;
    position: absolute;
}

.page {
    color: beige;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: start; */
    flex-wrap: wrap;
}


/*for inputs*/
.button {
    margin: 5px;
    box-sizing: border-box;
    padding-left: 50px;
    border-radius: 30px;
    height: 50px;
    width: 300px;
}

.input-grp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: relative;
    left: 35px;
}


/*for login and signup button*/
/* .signup-div{
    display: flex;
    justify-content: start;
} */
#signup-button {
    border: 2px solid beige;
    color: beige;
    background: none;
    position: absolute;
    font-size: 1.2rem;
    font-style: normal;
    height: 50px;
    width: 170px;
    font-weight: 550;
    right: 60%;
    top: 60%;
    border-radius: 30px;
}

.login-div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

#signin-button {
    position: relative;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    /* box-sizing: border-box; */
    /* padding-top: 20%;  */
    top: 20%;
}

.normal-state {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #3498db;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    position: absolute;
    left: -700px;
    top: -720px;
}

.pressed-state {
    background: rgb(26, 255, 0);
}

.bg {
    height: 100vh;
    width: 100vw;
}

@media (max-width: 650px) {

    #heading {
        animation-name: heading-animation3;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes heading-animation3 {
        from {
            left: 10%;
            top: 15%;
        }

        to {
            font-size: 2.8rem;
            font-weight: 700;
            left: auto;
            width: 350px;
            top: 5%;
        }
    }

    .normal-state {
        animation-name: circle-motion2;
        animation-duration: 2.5s;
        position: absolute;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    @keyframes circle-motion2 {
        from {
            left: -40%;
            top: -470px;
        }

        to {
            left: auto;
            top: -80%;
            padding-bottom: 0%;
        }
    }

    .bg2 {
        right: auto;
        position: absolute;
    }

    .button {
        margin: 5px;
        box-sizing: border-box;
        padding-left: 50px;
        border-radius: 20px;
        height: 45px;
        width: 250px;
    }

    #signup-button {
        position: relative;
        right: 15%;
        border-radius: 30px;
    }

    #signup-button {
        border: 2px solid beige;
        color: beige;
        background: none;
        position: absolute;
        font-size: .8rem;
        font-style: normal;
        height: 20px;
        width: 73px;
        font-weight: 300;
        right: auto;
        top: 51%;
        border-radius: 30px;
        flex-shrink: 400;
    }

}

@media (max-width: 1290px) and (min-width: 650px) {

    .normal-state {
        animation-name: circle-motion;
        animation-duration: 2s;
        position: absolute;
        animation-fill-mode: forwards;
    }

    @keyframes circle-motion {
        from {
            left: -700px;
            top: -720px;
        }

        to {
            left: -40%;
            top: -470px;
        }
    }

    #heading {
        animation-name: heading-animation4;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes heading-animation4 {
        from {
            /* font-size: 2.8rem;
            font-weight: 700;
            left: auto; */
            width: 350px;
            top: 5%;
        }

        to {
            font-size: 3rem;
            font-weight: 700;
            width: 390px;
            left: 10%;
            top: 15%;
        }
    }
}

@media (max-height: 600px) and (max-width: 770px) {
    #heading {
        animation-name: heading-animation1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes heading-animation1 {
        from {
            top: 1%;
        }

        to {
            top: -100%;
        }
    }

    #signup-button {
        margin: 10px;
    }
    .normal-state {
        animation-name: circle-motion6;
        animation-duration: 1s;
        position: absolute;
        animation-fill-mode: forwards;
    }

    @keyframes circle-motion6 {
        from {
            left: -40%;
            top: -470px;
        }
        to {
            left: -700px;
            top: -720px;
        }
    }
    /* .normal-state {
        left: auto;
        top: -80%;
        padding-bottom: 0%;
    } */
}

@media (max-height: 765px) and (min-height: 600px) and (max-width: 770px) {
    #heading {
        animation-name: heading-animation2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes heading-animation2 {
        from {
            top: -100%;
        }

        to {
            top: 1%;
            font-size: 2.5rem;
        }
    }

    #signup-button {
        margin: 10px;
    }
    .normal-state {
        animation-name: circle-motion5;
        animation-duration: 1s;
        position: absolute;
        animation-fill-mode: forwards;
    }

    @keyframes circle-motion5 {
        from {
            left: -700px;
            top: -720px;
        }

        to {
            left: -40%;
            top: -470px;
        }
    }
}
.hide{
    display:none;
}